{% extends 'base_dashboard.html' %}
{% load staticfiles %}
{% block js %}
    {#    <script src="{% static "external/jquery-1.9.0-min.js" %}"></script>#}
    <script src="{% static "external/jquery-ui-1.9.2.min.js" %}"></script>
    <script src="{% static "external/jquery.ui.touch-punch-0.2.2.min.js" %}"></script>
    <script src="{% static "lib/jsBezier-0.6.js" %}"></script>
    <script src="{% static "lib/biltong-0.2.js" %}"></script>
    <script src="{% static "src/util.js" %}"></script>
    <script src="{% static "src/browser-util.js" %}"></script>

    <script src="{% static "src/dom-adapter.js" %}"></script>

    <script src="{% static "src/jsPlumb.js" %}"></script>

    <script src="{% static "src/endpoint.js" %}"></script>

    <script src="{% static "src/connection.js" %}"></script>

    <script src="{% static "src/anchors.js" %}"></script>
    <script src="{% static "src/defaults.js" %}"></script>
    <script src="{% static "src/connectors-bezier.js" %}"></script>
    <script src="{% static "src/connectors-statemachine.js" %}"></script>
    <script src="{% static  "src/connectors-flowchart.js" %}"></script>
    <script src="{% static "src/renderers-svg.js" %}"></script>
    <script src="{% static "src/renderers-vml.js" %}"></script>
    <script src="{% static "src/connector-editors.js" %}"></script>
    <script src="{% static "src/jquery.jsPlumb.js" %}"></script>
    {#    <script src="{% static "jsPlumb/demo.js" %}"></script>#}
    <script type="text/javascript">

        jsPlumb.ready(function () {
            jsPlumb.makeSource($('.item'), {
                connector: 'StateMachine'
            });
            jsPlumb.makeTarget($('.item'), {
                anchor: 'Continuous'
            });

            jsPlumb.bind('connection', function (info) {
                console.log(info);
                alert("News connection from " + info.sourceId + " to " + info.target.id + "  added.");
            });
        });
    </script>
{% endblock %}

<html>
<head>
    <title>jsPlumb 1.6.4 demo - jQuery</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/jsplumb.css" %}">
    <link rel="stylesheet" href="demo.css">
</head>

{% block content %}
    <div id="headerWrapper">
        <div id="header">
            <div class="logo"></div>
            <div class=" menu">
                <a href="http://localhost:4567">DOCS</a>

                <a href="mailto:hello@jsplumbtoolkit.com">CONTACT</a>
                <a href="http://github.com/sporritt/jsplumb/">GITHUB</a>
                <a href="https://groups.google.com/forum/?fromgroups#!forum/jsplumb">DISCUSS</a>
                <a href="https://github.com/sporritt/jsPlumb/issues">ISSUES</a>
            </div>
        </div>
    </div>


    <div id="main" class="plumb-container">
        <div id="state1" class="item"></div>
        <div id="state2" class="item"></div>
        <div id="state3" class="item"></div>
        <!-- demo -->
        {#            <div class="component window" id="window1"><strong>Window 1</strong></div>#}
        {#            <div class="component window" id="window2"><strong>Window 2</strong></div>#}
        {#            <div class="component window" id="window3"><strong>Window 3</strong></div>#}
        {#            <div class="component window" id="window4"><strong>Window 4</strong></div>#}
        {#            <div class="component window" id="window5"><strong>Window 5</strong></div>#}
        {#            <div class="component window" id="window6"><strong>Window 6</strong></div>#}
        {#            <div class="component window" id="window7"><strong>Window 7</strong></div>#}
        <!-- /demo -->
    </div>
{% endblock %}

